@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ag-theme-alpine .ag-cell {
  overflow: visible !important;
  position: relative;
  z-index: 1;
}

.ag-header-row {
  background-color: #fbfbfb; /* custom background */
  color: #858585; /* custom font color */
  font-family: "Geist", sans-serif; /* custom font */
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}

.ag-header-container {
  border-bottom: 1px solid transparent;
}

.ag-header-cell {
  border-bottom: 1px solid transparent;
}

.ag-cell {
  font-family: "Geist", sans-serif; /* custom font */
  font-size: 14px;
  font-weight: 400;
  color: #858585;
}

.ag-icon-menu-alt {
  color: #000000 !important;
}

.ag-row {
  border-bottom: 1px solid #f1f1f1;
}
